// Colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$highlight-color: #ffc107;
$navbar-link-color: #ff5722;
$navbar-link-hover: #22ff6c;
$background-color: #fff;
$text-color: #212529;
$navbar-bg-color: #212529;
$brand-color: $navbar-link-color;
$brand-hover-color: #2ae619;
$light-color: #fff;
$dark-color: #212529;
$link-color: #ff5722;
$link-hover-color: #22ff6c;
$warning-color: #ffc107;
$warning-hover-color: #e0a800;
$border-color: #ced4da; // NEW

// Typography
$font-family-base: "Roboto", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;
